MODE="debug" # "debug" or "release"
ADDR=":8080"
TRUSTED_PROXIES="127.0.0.1, 0.0.0.0"
ORIGINS="http://localhost:8080, http://127.0.0.1:3000"
DATABASE_URL="postgresql://postgres:1234@localhost:5432/mydb"
JWT_SECRET_KEY="VmSi1PRFKvfEtEMqgfyQykFoTW2jidM1yqYNy1KSxjrllSkZ4BCo4CVPw1Rxdaqw9DfHZRxNn62l7L6G-yPjvQ"
PAGINATION=20