MODE="debug" # "debug" or "release"
ADDR=":8080"
TRUSTED_PROXIES="127.0.0.1, 0.0.0.0"
ORIGINS="http://localhost:8080, http://127.0.0.1:3000"
DATABASE_URL="postgresql://postgres:1234@localhost:5432/mydb"
CACHE_URL="redis://localhost:6379"
JWT_SECRET_KEY="VmSi1PRFKvfEtEMqgfyQykFoTW2jidM1yqYNy1KSxjrllSkZ4BCo4CVPw1Rxdaqw9DfHZRxNn62l7L6G-yPjvQ"
PAGINATION="20"
MAX_MULTIPART_MEMORY="10" # 10MB
ALLOWED_IMAGE_MIMETYPE="image/png, image/jpeg, image/webp, image/gif, image/avif"
UPLOAD_PATH="~/temp/generic-shop-sample/upload/"
MAX_PRODUCT_IMAGES_AMOUNT="5"
AUTH_EXPIRATION="720" # 12 Hours
REQUEST_LOGGER_FILEPATH="~/temp/generic-shop-sample/gin.log"
APP_LOGGER_FILEPATH="~/temp/generic-shop-sample/app.log"
ZP_MERCHANT_ID="111111111111111111111111111111111111" # must be 36 
PAYMENT_CALLBACK_URL="http://localhost:8080/api/payment/callback"
FROM_EMAIL="sample@example.com"
SMTP_HOST="smtp.gmail.com:587"
SMTP_PORT="587"
SMTP_PASSWORD="password"
