@theme {
  /* components/common/NavBar.vue */
  --color-nav-bar-bg: #ffffff;
  --color-nav-bar-border: #000000;

  /* components/common/footer */
  --color-footer-bg: #3d3d3d;
  --color-footer-text: #ffffff;
  --color-footer-border: #adadad;
  --color-footer-input: #343434;
  --color-footer-btn: #282828;
  --color-footer-icon: #f2f2f2;
  --color-footer-placeholder: #9b9a9a;

  /* components/ui/BaseIcon.vue */
  --color-default-icon: #000000;

  /* components/ui/SearchBox.vue */
  --color-search-box-bg: #585858;
  --color-search-box-border: #b5b5b5;
  --color-search-box-icon: #ffffff;
  --color-search-box-btn: #282828;
  --color-search-box-text: #ffffff;
  --color-search-box-placeholder: #b5b5b5;
  
  /* components/ui/ListPagination.vue */
  --color-pagination-btn: #000000;
  --color-pagination-icon: #ffffff;
  --color-pagination-border: #000000;
  --color-pagination-default-text: #000000;
  --color-pagination-select-bg: #000000;
  --color-pagination-select-text: #ffffff;

  /* components/card/ImageFrame.vue */
  --color-img-frame-card-bg: #A6A6A6;
  --color-img-frame-card-tag-bg: #3D3D3D;
  --color-img-frame-card-tag-text: #FFFFFF;

  /* pages/landing/LandingPage.vue */
  --color-landing-p-primary-bg: #686b6f;
  --color-landing-p-secondary-bg: #ffffff;
  --color-landing-p-text: #ffffff;

  /* pages/products/ImageFrameList.vue */
  --color-img-frame-list-border: #000000;
  --color-img-frame-list-icon: #ffffff;

  /* pages/basket/CardTotal.vue */
  --color-basket-card-total-border: #000000;
  --color-basket-card-total-title: #a6a6a6;
  --color-basket-card-total-title-text: #ffffff;
  --color-basket-card-total-btn: #000000;
  --color-basket-card-total-btn-text: #ffffff;

  /* pages/basket/OrderItemsCard.vue */
  --color-basket-item-remove-hover: #000000;
  --color-basket-item-change-btn: #000000;
  --color-basket-item-change-border: #000000;
  --color-basket-item-change-icon: #ffffff;
  --color-basket-item-not-saved-btn: #000000;
  --color-basket-item-not-saved-text: #ffffff;

  /* pages/basket/OrderItems.vue */
  --color-basket-orders-border: #000000;
  --color-basket-orders-title-bg: #000000;
  --color-basket-orders-title-text: #ffffff;

  /* pages/auth/AuthPage.vue */
  --color-auth-p-bg: #3c3c3c;
  --color-auth-p-text: #ffffff;
  --color-auth-p-border: #666666;
  --color-auth-p-outline: #ffffff;
  --color-auth-p-btn: #000000;
  --color-auth-p-btn-text: #ffffff;
  --color-auth-p-icon: #ffffff;
}
