@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* nord theme colors palette */
  --nord-polar-night-1: #2e3440;
  --nord-polar-night-2: #3b4252;
  --nord-polar-night-3: #434c5e;
  --nord-polar-night-4: #4c566a;
  --nord-snow-storm-1: #d8dee9;
  --nord-snow-storm-2: #e5e9f0;
  --nord-snow-storm-3: #eceff4;
  --nord-frost-1: #8fbcbb;
  --nord-frost-2: #88c0d0;
  --nord-frost-3: #5e81ac;
  --nord-aurora-1: #bf616a;
  --nord-aurora-2: #d08770;
  --nord-aurora-3: #ebcb8b;
  --nord-aurora-4: #a3be8c;
  --nord-aurora-5: #b48ead;

  /* default light theme */
  --c-v-1: var(--nord-polar-night-1);
  --c-v-2: var(--nord-polar-night-2);
  --c-v-3: var(--nord-polar-night-3);
  --c-v-4: var(--nord-polar-night-4);
  --c-v-5: var(--nord-snow-storm-1);
  --c-v-6: var(--nord-snow-storm-2);
  --c-v-7: var(--nord-snow-storm-3);
  --c-v-8: var(--nord-frost-1);
  --c-v-9: var(--nord-frost-2);
  --c-v-10: var(--nord-frost-3);
  --c-v-11: var(--nord-aurora-1);
  --c-v-12: var(--nord-aurora-2);
  --c-v-13: var(--nord-aurora-3);
  --c-v-14: var(--nord-aurora-4);
  --c-v-15: var(--nord-aurora-5);
}

.dark {
  /* default dark theme */
  --c-v-1: var(--nord-polar-night-1);
  --c-v-2: var(--nord-polar-night-2);
  --c-v-3: var(--nord-polar-night-3);
  --c-v-4: var(--nord-polar-night-4);
  --c-v-5: var(--nord-snow-storm-1);
  --c-v-6: var(--nord-snow-storm-2);
  --c-v-7: var(--nord-snow-storm-3);
  --c-v-8: var(--nord-frost-1);
  --c-v-9: var(--nord-frost-2);
  --c-v-10: var(--nord-frost-3);
  --c-v-11: var(--nord-aurora-1);
  --c-v-12: var(--nord-aurora-2);
  --c-v-13: var(--nord-aurora-3);
  --c-v-14: var(--nord-aurora-4);
  --c-v-15: var(--nord-aurora-5);
}

@theme {
  /* fonts */
  --font-primary-default: 'ValleySans-Regular';
  --font-secondary-default: 'Delius-Regular';

  /* styles/utils.css -> c-form */
  --color-c-form-bg: var(--c-v-1);
  --color-c-form-text: var(--c-v-7);
  --color-c-form-shadow: var(--c-v-8);
  --color-c-form-outline: var(--c-v-7);
  --color-c-form-btn: var(--c-v-8);
  --color-c-form-btn-text: var(--c-v-7);
  --color-c-form-error: var(--c-v-11);
  --color-c-form-shadow-error: var(--c-v-11);

  /* layout/DefaultLayout.vue */
  --color-default-layout-bg: var(--c-v-7);
  --color-default-layout-text: var(--c-v-1);

  /* components/common/NavBar.vue */
  --color-nav-bar-bg: var(--c-v-5);
  --color-nav-bar-border: var(--c-v-3);

  /* components/common/footer */
  --color-footer-bg: var(--c-v-1);
  --color-footer-text: var(--c-v-7);
  --color-footer-border: var(--c-v-7);
  --color-footer-input: var(--c-v-3);
  --color-footer-btn: var(--c-v-1);
  --color-footer-icon: var(--c-v-7);
  --color-footer-placeholder: var(--c-v-5);

  /* components/common/loading */
  --color-loading-color: var(--c-v-13);

  /* components/ui/BaseIcon.vue */
  --color-default-icon: var(--c-v-2);

  /* components/ui/SearchBox.vue */
  --color-search-box-bg: var(--c-v-1);
  --color-search-box-border: var(--c-v-6);
  --color-search-box-icon: var(--c-v-6);
  --color-search-box-btn: var(--c-v-4);
  --color-search-box-text: var(--c-v-6);
  --color-search-box-placeholder: var(--c-v-6);

  /* components/ui/ListPagination.vue */
  --color-pagination-btn: #000000;
  --color-pagination-icon: #ffffff;
  --color-pagination-border: #000000;
  --color-pagination-default-text: #000000;
  --color-pagination-select-bg: #000000;
  --color-pagination-select-text: #ffffff;

  /* components/card/ImageFrame.vue */
  --color-img-frame-card-bg: var(--c-v-1);
  --color-img-frame-card-tag-bg: var(--c-v-2);
  --color-img-frame-card-tag-text: var(--c-v-7);

  /* components/card/ProductCard.vue */
  --color-card-product-shadow: var(--c-v-10);

  /* pages/landing/LandingPage.vue */
  --color-landing-p-primary-bg-1: var(--c-v-3);
  --color-landing-p-primary-bg-2: var(--c-v-1);
  --color-landing-p-secondary-bg: var(--c-v-7);
  --color-landing-p-text: var(--c-v-6);

  /* pages/landing/ProductsView.vue */
  --color-products-view-line: var(--c-v-4);
  --color-products-view-link: var(--c-v-11);

  /* pages/error */
  --color-error-p-msg: var(--c-v-11);

  /* pages/products/ImageFrameList.vue */
  --color-img-frame-list-border: #000000;
  --color-img-frame-list-icon: #ffffff;

  /* pages/basket/CardTotal.vue */
  --color-basket-card-total-border: #000000;
  --color-basket-card-total-title: #a6a6a6;
  --color-basket-card-total-title-text: #ffffff;
  --color-basket-card-total-btn: #000000;
  --color-basket-card-total-btn-text: #ffffff;

  /* pages/basket/OrderItemsCard.vue */
  --color-basket-item-remove-hover: #000000;
  --color-basket-item-change-btn: #000000;
  --color-basket-item-change-border: #000000;
  --color-basket-item-change-icon: #ffffff;
  --color-basket-item-not-saved-btn: #000000;
  --color-basket-item-not-saved-text: #ffffff;

  /* pages/basket/OrderItems.vue */
  --color-basket-orders-border: #000000;
  --color-basket-orders-title-bg: #000000;
  --color-basket-orders-title-text: #ffffff;

  /* pages/auth */
  --color-eye-icon: var(--c-v-7);

  /* pages/auth/AuthPage.vue */
  --color-auth-p-icon: var(--c-v-7);

  /* notification/NotificationContainer.vue */
  --color-notification-bg: #ffffff;
  --color-notification-text: #000000;
  --color-notification-success: #26ff0e;
  --color-notification-error: #ff0000;
  --color-notification-warning: #ffe137;
  --color-notification-info: #7b53ff;

  /* components/card/TagCard.vue */
  --color-tag-card-text: var(--c-v-1);
  --color-tag-card-bg-1: var(--c-v-11);
  --color-tag-card-bg-2: var(--c-v-12);
  --color-tag-card-bg-3: var(--c-v-13);
  --color-tag-card-bg-4: var(--c-v-14);
  --color-tag-card-bg-5: var(--c-v-15);

  /* pages/panel/admin/categories/DeleteTag.vue */
  --color-delete-tag-btn-bg: var(--c-v-11);
  --color-delete-tag-btn-text: var(--c-v-7);

  /* pages/panel/admin/categories/Categories.vue */
  --color-categories-p-float-shadow: var(--c-v-12);
  --color-categories-p-float-bg: var(--c-v-7);
  --color-categories-p-float-text: var(--c-v-1);
  --color-categories-p-float-border: var(--c-v-10);
  --color-categories-p-border: var(--c-v-1);

  /* pages/panel/admin/products */
  --color-panel-products-create-btn: var(--c-v-15);
  --color-panel-products-ture-btn: var(--c-v-14);
  --color-panel-products-false-btn: var(--c-v-10);
  --color-panel-products-btn-text: var(--c-v-1);
  --color-panel-products-border: var(--c-v-1);
  --color-panel-products-shadow: var(--c-v-9);
  --color-panel-products-add-property-btn: var(--c-v-10);
  --color-panel-products-add-property-btn-text: var(--c-v-7);

  /* components/common/products/ProductView.vue */
  --color-common-product-view-border: var(--c-v-1);
}
